# String Slicing

In [5]:
s1 = "Python"
s1
s1[5]

'n'

In [68]:
s1 = "python"
s1[len(s1)-1] #Accessing the last character of a string
s1[-1] #another wayAccessing the last character of a string
s1[-2] #another penultimate character of a string
s1[0] #Accessing the first character of a string
s1[1] #Accessing the second character of a string
s1[0:2] #colon used the number of characters to print
s1[-5:] #Accessing the last two characters
s1[1:-1] #Accessing the middle character to end in a string
s1[len(s1)//2] #Accessing the fifth character to end in a string
s1[-1::-1]# reverse of string middle two character
s1[-1:-3:-1]#Accessing last twocharecyters in a string
s1[len(s1)//2:len(s1)//2-2:-1]#reverse 
#len(s1)
#s1[::-2]#Reverse accessing altering charecter of a string
#s1[::-2]#accessing altering charecter of a string

'ht'

# Function

In [70]:
#Function to reverse a string
def reverseString(s):
    return s[::-1]

reverseString("python")

'nohtyp'

In [81]:
# function to check if a string is a palindrome
def palindrome(s):
    data=s[::-1]
    if (s == data):
        return True
    else:
        return False
print(palindrome("madam"))

True

In [86]:
# function to check whether leap year or not
def isLeapYear(year):
    if ((year % 400 == 0 )or (year % 100 != 0 and year % 4 == 0)):
        return True
    else:
        return False
isLeapYear(2000)

True

In [87]:
#Function
def countDigits(n):
    return len(str(n))
countDigits(12345)

5

In [90]:
def greatest(n1,n2,n3,n4):
    if n1>n2 and n1>n3 and n1>n4:
        return n1
    elif n2>n3 and n2>n4:
        return n2
    elif n3>n4:
        return n3
    else:
        return n4
    
greatest(2,5,1,0)

5

# Iteration
* for
* while

In [100]:
# function to print n natural numbers

def printNNaturalNumbers(n):
    i=1
    while(i<=n):
        print(i)
        i=i+1
printNNaturalNumbers(10)

1
2
3
4
5
6
7
8
9
10

In [102]:
def printNumbers(n):
    for counter in range(1, n+1):
        print(counter, end=" ")
    return

printNumbers(10)

1 2 3 4 5 6 7 8 9 10

In [ ]:
# Function to print all numbers divisible by 6 and not a factor of 100 in a given range (lb,ub) inclusive

In [143]:
# function to find the average of cubes of all even numbers in a given range(lb,ub) inclusive
def avgCubesEven(lb,ub):
    sum=0
    for i in range(lb, ub + 1):
        if i % 2 == 0:
            sum+=i**3
        return sum/(ub-lb)
avgCubesEven(1,3)

0.0

In [ ]:
#function for list of factors in a given number
def factorial(n):
    fact = 1
    for i in range(2,n+1):
        fact *= i
    return fact

In [145]:
# function to check if the given number is prime
def isPrime(n):
    flag = 1
    for i in range(2, n//2):
        if n%i == 0:
            flag = False
            return flag
    return flag
isPrime(2)

1

In [148]:
# function to calculate the average first N Prime numbers
def avgNPrimes(n):
    primeCount = 0
    sum = 0
    seqCount = 2
    while(primeCount < n):
        if isPrime(seqCount):
            primeCount += 1
            sum += seqCount
        seqCount += 1
    return sum/n

avgNPrimes(10)

10.4

In [150]:
# function to generate all perfect number in a given range
def isPerfect(n):
    if factorList(n) == n:
        return True
    return False
def genertaePerfect(lb, ub):
    for i in range(lb, ub+1):
        if isPerfect(i):
            print(i, end=" ")
    return
isPerfect(1,100000)

TypeError: isPerfect() takes 1 positional argument but 2 were given

In [1]:
# function to generate all perfect numbers in a given range
def isperfect(n):
    s=0
    for i in range(1,n):
        if(n%i==0):
            s=s+i
    if s==n:
        return True
    else:
        return False

In [109]:
list = ["surya","narayana"]
list[1] = "venkata"
list

['surya', 'venkata']

In [129]:
list

['surya', 'venkata']

In [128]:
list[1]

'venkata'

In [115]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [132]:
thislist = ["banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
else:
  print("no not there")

no not there

In [135]:
s = ["1","2","3","4"]
if x in s:
 print(str(x))

In [126]:
list1 = ["surya","venkata","narayana"]
print(len(list1))

3

In [127]:
list1.append("narla")
print(list1)

['surya', 'venkata', 'narayana', 'narla']

In [136]:
print("Hello")

Hello

In [140]:
s = ["1","2","3","4"]
for x in s:
    print(x,end=" ")

1 2 3 4